@import "variables", "mixins", "carrusel";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Laila', sans-serif;
}
html{

}
body{
    margin: 0.1rem 0.4rem;
    // margin: 0;
    border: 3px solid rgb(85, 85, 85);
    border-top: hidden;
    border-radius: 20px;

}  
header {
    display: flex;
    justify-content: end;
        flex-direction: row-reverse;
        align-items: center;  
        margin:0;
        padding: 0;
        width: 97vw; 
        height: 55px;
        // height: 7rem;
        background: $amarillo ;
        border-radius: 17px 17px 0px 0px;
        border:2px solid rgb(63, 63, 63);
        box-shadow: -0.2rem -2rem 0rem rgb(255, 255, 255);
        position:fixed;
        z-index: 110;
        @include pantalla(xs){
            width: 93vw
        };
        @include pantalla(sm){
            width: 97vw
        };
        @include pantalla(md){
        }
        @include pantalla(lg){
            
        };
        @include pantalla(xl){
        }
    }
    nav{
        position:fixed;
        display: flex;
        align-items: flex-end;
        // padding-top: 0.3rem;------
        // width: 95.7vw; ---------
        margin-top: 2.3rem;
        background-color: rgb(255, 255, 255);
        border-bottom: 1.5px dotted rgb(34, 34, 34); 
        z-index: 100;
        @include pantalla(xs){
            height: 75px;
            padding-top: 2rem;
            width: 92.5%;
        }
        @include pantalla(sm){
            padding-top: .4rem;
            width: 89vw;
        };
        @include pantalla(md){
            width: 92.5vw;
        }
        @include pantalla(lg){
            width: 94vw;
        };
        @include pantalla(xl){
            padding-top:.5rem;
            width: 95.7vw;
        }
        ul{ 
            display: flex;
            justify-content: space-around;
            width: 100vw;
            list-style:none;
            color: #020202;
            // font-size: 1rem; ---------   
            font-weight: bold;
            @include pantalla(xs){
                font-size: 0.8rem;
            }
            @include pantalla(sm){
                // font-size: 0.8rem;
            }
            @include pantalla(lg){
                font-size: .9rem;   
            };
            @include pantalla(xl){
                font-size: 1rem;   
            }
            li{
                img{
                    @include pantalla(xs){
                        width: 1.5rem;
                    } 
                    @include pantalla(lg){
                        width: 30px;
                    }
                    @include pantalla(xl){
                        width: 33px;
                    }
                }
                a:hover{ 
                    font-size: 1.1rem; 
                    text-shadow: 3px 3px 3px #fbff00; 
                    color: #020202;
                    @include pantalla(xs){
                        font-size: .8rem;
                    } 
                    @include pantalla(lg){
                        font-size: 1rem;
                    }
                    @include pantalla(xl){
                        font-size: 1.1rem; 
                    }
                }
                a:link, a:active, a:visited{
                    color: #020202;
                    text-decoration: none;
                    margin: 5px;
                }
            }
        }
    }
    #contenedor{
        border-radius: 10px;
        border: 2px double black;
        margin: 10px;
        @include pantalla(xs){
            background-color: $negro; //Mientras
            border-bottom: 2px dotted  white;
        }
        @include pantalla(sm){
            background-color: $negro; //Mientras}
            border-bottom: 2px dotted  white;
        }
        @include pantalla(lg){
            background-color: #fff;
        };
        @include pantalla(xl){
            background-color: #fff;
        }
        #home{
            padding-top: 6rem;
            // display: grid;
            margin: 0;
            // grid-template: repeat(4,25%)/repeat(4,25%);
            // grid-template-areas: 
            // "me . . . "
            // "me main main main"
            // "me main main main"
            // "me . . . ";
            @include pantalla(xs){
                display: grid;
                grid-template: repeat(2,58%)/repeat(1,100%);
                grid-template-areas: 
                "me"
                "main";
                // background-color: $negro; 
                // "main";
                // font-size: 0.7rem;
            }
            @include pantalla(sm){
                // font-size: 0.8rem;
                // background-color: $negro; 
            }
            @include pantalla(lg){
                // font-size: .9rem; 
                // background-color: #fff; 
                margin: 0;
                display: grid;
                grid-template: repeat(4,25%)/repeat(4,25%);
                grid-template-areas: 
                "me . . . "
                "me main main main"
                "me main main main"
                "me . . . ";  
            };
            @include pantalla(xl){
                // font-size: 1rem; 
                // background-color: #fff; 
                margin: 0;
                display: grid;
                grid-template: repeat(4,25%)/repeat(4,25%);
                grid-template-areas: 
                "me . . . "
                "me main main main"
                "me main main main"
                "me . . . ";  
            }
            .me{
                grid-area: me;
                height: 87.4vh;
                width: 23.9vw;
                color: #fff;
                text-align: center;
                font-weight: bold;
                background-color: $negro;
                margin:0;
                padding-top: 4rem ;
                border: 2px dotted  white;
                @include pantalla(xs){
                    grid-area: me;
                    width: 92.4vw;
                    padding-top: 2rem ;
                }
                @include pantalla(xs){
                }
                @include pantalla(sm){
                    grid-area: me;
                }
                @include pantalla(lg){
                    grid-area: me;
                    width: 23.9vw; 
                    height: 83.2vh;
                };
                @include pantalla(xl){
                    grid-area: me;
                    width: 23.9vw;
                    height: 87.4vh;
                }
                #me{
                    display: grid;
                    justify-content: center;
                    height:39vh;
                    background: $amarillo ; 
                    border-radius: 50%;
                    // padding-top: 1rem;
                    border: 2px dotted rgb(0, 0, 0);
                    margin: auto ;
                    text-align: center;
                    @include pantalla(xs){
                        // font-size: 0.7rem;
                    }
                    @include pantalla(sm){
                        // font-size: 0.8rem;
                    }
                    @include pantalla(lg){
                        // font-size: .9rem; 
                        height:34.6vh;  
                    };
                    @include pantalla(xl){
                        // font-size: 1rem;  
                        height:39vh; 
                    }
                }
                .text h1{
                    font-family: "square peg", cursive;
                    padding-top: 26px;
                    font-size: 2.4rem;
                    text-shadow: 3px 7px 8px #6a5527d7;
                    letter-spacing: 6px;
                    @include pantalla(xs){
                        font-size: 4rem;
                    }
                    @include pantalla(sm){
                        // font-size: 0.8rem;
                    }
                    @include pantalla(lg){
                        font-size: 2.2rem;   
                    };
                    @include pantalla(xl){
                        font-size: 2.4rem;   
                    }
                }
                .text p{
                    font-family:'Laila', sans-serif;
                    font-size: 1.2rem;
                    padding-top: 1.4rem;
                    @include pantalla(xs){
                        font-size: 1.5rem;
                    }
                    @include pantalla(sm){
                        // font-size: 0.8rem;
                    }
                    @include pantalla(lg){
                        font-size: 1rem;   
                    };
                    @include pantalla(xl){
                        font-size: 1.2rem;   
                    }
                }
            }
            .contenedorCarrusel{
                grid-area: main;
                border: 2px dotted  white;
                // margin: 0;
                // padding: 0;
                // height: 120vh;
                // // display: grid;
                // display: flex;
                // align-items: center;
                // justify-items: center;
                // align-content: center;
                // justify-content: center;
                @include pantalla(xs){
                    background-color: $negro;
                    // grid-area: main;
                    // display: flex;
                    // align-items: start;
                    // justify-items: start;
                    // align-content: flex-start;
                    // justify-content: start;
                }
                @include pantalla(sm){
                    background-color: $negro;
                    // font-size: 0.8rem;
                }
                @include pantalla(lg){
                    background-color: rgb(255, 255, 255);
                };
                @include pantalla(xl){
                    background-color: rgb(255, 255, 255);
                    grid-area: main;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    align-content: center;
                    justify-content: center;  
                }
            }
        }
    }
    footer{
        background-color: #ffffff;
        border-top: 2px dotted  white;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: end;
        @include pantalla(xs){
            height: 5vh;
        }
        @include pantalla(sm){
        }
        @include pantalla(lg){
            height: 12vh
        };
        @include pantalla(xl){
            height: 12vh;
        }
        a:hover{
            font-size: 2.2rem;
        }
    }