@import "home", "variables";

#skills{
    padding-top: 0rem ;
    margin: 0rem 0rem;
    width: 95vw;
    display: grid;
    grid-template: repeat(4,25%)/repeat(4,25%);
    grid-template-areas: 
    "me skills skills skills"
    "me skills skills skills"
    "me skills skills skills"
    "me skills skills skills";
    @include pantalla(xs){
        padding-top: 12rem ;
        display: grid;
        grid-template: repeat(2,20%)/repeat(1,100%);
        grid-template-areas: 
        "me me me me"
        "skills skills skills skills";
    }
    @include pantalla(sm){
        // font-size: 0.8rem;
    }
    @include pantalla(md){
        // font-size: 0.8rem;
        padding-top: 0rem ;
        display: grid;
        grid-template: repeat(4,25%)/repeat(4,25%);
        grid-template-areas: 
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills";
    }
    @include pantalla(lg){
        padding-top: 0rem ;
        display: grid;
        grid-template: repeat(4,25%)/repeat(4,25%);
        grid-template-areas: 
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills";
    };
    @include pantalla(xl){
        padding-top: 0rem ;
        display: grid;
        grid-template: repeat(4,25%)/repeat(4,25%);
        grid-template-areas: 
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills"
        "me skills skills skills";
    }
    .me{
        grid-area: me;
        height: 97vh;
        width: 23.9vw;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding-top: 0rem ;
        background-color: $negro;
        margin:0;
        border: 2px dotted  white;
        @include pantalla(xs){
            grid-area: me;
            height: 15rem;
            width: 92.7vw;
            border: 2px dotted  white;
            border-top: hidden;
            border-bottom: hidden;
            margin-right: 0;
        }
        @include pantalla(sm){
            grid-area: me;
            border: 2px dotted  white;
            border-top: hidden;
            border-bottom: hidden;
            margin-right: 0;
            width: 94.5vw;
            // border-bottom: hidden;
        }
        @include pantalla(md){
            grid-area: me;
            height: 97vh;
            width: 37.9vw;
            margin-right: 2rem; 
            // border-bottom: hidden;
        }
        @include pantalla(lg){
            grid-area: me;
            height: 97vh;
            width: 23.9vw;

            
        };
        @include pantalla(xl){
            grid-area: me;
            height: 97vh;
            width: 23.9vw;
        }
        p{
            margin:.5rem 1.4rem;
            line-height: 3rem;
            text-align:justify;
            @include pantalla(xs){
                margin:.5rem 1.4rem;
                line-height: 3rem;
                
            }
            @include pantalla(sm){
            }
            @include pantalla(md){
                margin:3rem 1.4rem;
                line-height: 3rem;
                font-size: 1.5rem;
            }
            @include pantalla(lg){
                
            }
            @include pantalla(xl){
                
            }
        }
    }
    .icons{
        grid-area: skills;
        display: flexbox;
        flex-direction:row;
        flex-wrap: wrap;
        width: 40vw;
        padding-top: 5rem;
        @include pantalla(xs){
            grid-area: skills;
            width: 92.7vw;
            height: 68vh;
            padding-top: 0rem;
            background-color: $negro;
            border: 2px dotted  white;
            margin-left: 0;
            border-top: hidden;
            border-bottom:hidden ;
        }
        @include pantalla(sm){
            grid-area: skills;
            background-color: $negro;
            border: 2px dotted  white;
            border-top: hidden;
            border-bottom:hidden ;
            width: 94.5vw;
            margin-left: 0;
            // border-top: hidden;
        }
        @include pantalla(md){
            grid-area: skills;
            background-color: rgb(255, 255, 255);
            border: hidden;
            margin-left: 0;
            height: 97vh;
            width: 55vw;
            padding-top: 7rem;
            margin-left: 8rem;
        }
        @include pantalla(lg){
            grid-area: skills;
            background-color: rgb(255, 255, 255);
            height: 97vh;
            width: 70vw;
            padding-top: 5rem;
            border: 0;
            margin-left: 2rem;
        };
        @include pantalla(xl){
            grid-area: skills;
            background-color: rgb(255, 255, 255);
            height: 97vh;
            width: 70vw;
            padding-top: 5rem;
            border: 0;
            margin-left: 2rem;
        }
    }
    figure{
        display: inline-block;
        padding: 0.5rem 0.8rem;
        text-align: center;
        @include pantalla(xs){
            padding: 0.5rem 0.6rem;
            color: #fff;
            font-size: .9rem;
        }
        @include pantalla(sm){
            padding: 1.5rem 1rem;
            color: #fff;
            font-size: 1rem;
        }
        @include pantalla(md){
            padding: 2rem 1rem;
            // width: 10rem;
            color: #000;
            font-size: 1.3rem;
        }
        @include pantalla(lg){
            padding: 0.5rem 0.8rem;
            color: #000;
            font-size: 1.3rem;
        };
        @include pantalla(xl){
            padding: 1rem 4rem;
            color: #000;
            font-size: 1.3rem;
        }
    }
    figure:hover{
        font-size: 1.1rem;
        @include pantalla(xs){
            font-size: 1.1rem;
        }
        @include pantalla(sm){
            font-size: 1.1rem;
        }
        @include pantalla(md){
            font-size: 1.4rem;
        }
        @include pantalla(lg){
            font-size: 1.4rem;
        };
        @include pantalla(xl){
            font-size: 1.4rem;
        }
    }
}
