$amarillo: rgb(248, 255, 153);
$negro: #2b2b2b;
$color-border:  rgb(65, 64, 64);

$medidas:(
    xs: 150px,
    sm: 540px,
    md: 768px,
    lg: 1024px,
    xl: 1126px
);

:root{
    --negro         : #393939;
    --blanco        : #ececec;
    --sombra-ppal   : #c9c9c9;
    --sombra-sec    : #ffffff;
    --borde-negro   : #00000050;

    --marcado       : rgb(127, 195, 255);
}
    
/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    // :root{
    //     --negro         : #ececec;
    //     --blanco        : #303030;
    //     --sombra-ppal   : #242424;
    //     --sombra-sec    : #3c3c3c;

    //     --borde-negro   : #FFFFFF50;
    // }
}