:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
.carrusel {
  grid-area: main;
  max-width: 120em;
  height: 80vh;
  padding: 0rem;
  border-radius: 1rem;
  background-color: #2b2b2b;
  width: 60%;
  max-width: 120em;
  height: 63vh;
  border: 1px solid black;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0.8em 0.8em 0.2em rgba(161, 161, 161, 0.945);
}
@media screen and (min-width: 1126px) {
  .carrusel {
    height: 68vh;
    padding: 0rem 0.6rem;
  }
}
.carrusel p {
  color: white;
  font-size: 1.3rem;
  text-shadow: 0.1rem 0rem 0.3rem white;
  text-align: center;
  padding-top: 5px;
}
.carrusel .grande {
  z-index: -100;
  border-radius: 1rem;
  background-color: rgb(248, 255, 153);
  width: 200%;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
@media screen and (min-width: 1126px) {
  .carrusel .grande {
    height: 50vh;
    padding: 0rem 2rem;
  }
}
.carrusel .grande #polar {
  font-size: 1rem;
  color: #2b2b2b;
  margin: 0;
  display: flex;
  justify-self: end;
  align-self: end;
  width: 36vw;
  position: absolute;
}
.carrusel .grande #sabrina {
  font-size: 1rem;
  height: 2rem;
  color: #2b2b2b;
  margin-left: 526px;
  display: flex;
  justify-self: end;
  align-self: end;
  padding-top: 1rem;
  width: 40vw;
  position: absolute;
  line-height: 1rem;
}
.carrusel .grande img {
  width: calc(50% - 2em);
  min-height: 40vh;
  border-radius: 1rem;
  object-fit: cover;
}
@media screen and (min-width: 1126px) {
  .carrusel .grande img {
    min-height: 43vh;
    margin-bottom: 1.5rem;
  }
}
.carrusel .puntos {
  width: 100%;
  border-radius: 1rem;
  margin: 1em 0em 0 3em;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 255, 153);
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos {
    padding: 0;
    margin: 0.5em 0em;
  }
}
.carrusel .puntos .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  list-style-type: none;
  background-color: rgb(184, 184, 184);
  box-shadow: 0.3rem 0.2rem 0.3rem rgb(82, 82, 82);
  border-radius: 1rem;
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos .punto {
    margin: 0.8rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
.carrusel .puntos .punto.activo {
  color: rgb(252, 135, 145);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

body {
  margin: 0.1rem 0.4rem;
  border: 3px solid rgb(85, 85, 85);
  border-top: hidden;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 5px;
  padding: 0px;
  width: 97vw;
  height: 55px;
  background: rgb(248, 255, 153);
  border-radius: 17px 17px 0px 0px;
  border: 2px solid rgb(63, 63, 63);
  box-shadow: -0.2rem -2rem 0rem rgb(255, 255, 255);
  position: fixed;
  z-index: 110;
}
@media screen and (min-width: 150px) {
  header {
    width: 93vw;
  }
}
@media screen and (min-width: 540px) {
  header {
    width: 97vw;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 97vw;
  }
}
@media screen and (min-width: 1126px) {
  header {
    width: 97vw;
  }
}

nav {
  position: fixed;
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px dotted rgb(34, 34, 34);
  z-index: 100;
}
@media screen and (min-width: 150px) {
  nav {
    height: 75px;
    padding-top: 2rem;
    width: 92.5%;
  }
}
@media screen and (min-width: 540px) {
  nav {
    padding-top: 0.4rem;
    width: 94.7vw;
  }
}
@media screen and (min-width: 768px) {
  nav {
    width: 96.5vw;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    width: 96.9vw;
  }
}
@media screen and (min-width: 1126px) {
  nav {
    padding-top: 0.5rem;
    width: 96.6vw;
  }
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  list-style: none;
  color: #020202;
  font-weight: bold;
}
@media screen and (min-width: 150px) {
  nav ul {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1126px) {
  nav ul {
    font-size: 1rem;
  }
}
@media screen and (min-width: 150px) {
  nav ul li img {
    width: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul li img {
    width: 30px;
  }
}
@media screen and (min-width: 1126px) {
  nav ul li img {
    width: 33px;
  }
}
nav ul li a:hover {
  font-size: 1.1rem;
  text-shadow: 3px 3px 3px #fbff00;
  color: #020202;
}
@media screen and (min-width: 150px) {
  nav ul li a:hover {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul li a:hover {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1126px) {
  nav ul li a:hover {
    font-size: 1.1rem;
  }
}
nav ul li a:link, nav ul li a:active, nav ul li a:visited {
  color: #020202;
  text-decoration: none;
  margin: 5px;
}

#contenedor {
  border-radius: 10px;
  border: 2px double rgb(0, 0, 0);
  margin: 10px;
  overflow: hidden;
}
@media screen and (min-width: 150px) {
  #contenedor {
    background-color: #2b2b2b;
    border-bottom: 2px dotted white;
  }
}
@media screen and (min-width: 540px) {
  #contenedor {
    background-color: #2b2b2b;
    border-bottom: 2px dotted white;
  }
}
@media screen and (min-width: 768px) {
  #contenedor {
    background-color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor {
    background-color: #fff;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor {
    background-color: #fff;
  }
}
#contenedor #home {
  padding-top: 6rem;
  margin: 0;
}
@media screen and (min-width: 150px) {
  #contenedor #home {
    display: grid;
    grid-template: repeat(2, 58%)/repeat(1, 100%);
    grid-template-areas: "me" "main";
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home {
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home {
    margin: 0;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home {
    margin: 0;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
#contenedor #home .me {
  grid-area: me;
  height: 87.4vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #2b2b2b;
  margin: 0;
  padding-top: 4rem;
  border: 2px dotted white;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me {
    grid-area: me;
    width: 92.4vw;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .me {
    grid-area: me;
    width: 94.5vw;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me {
    grid-area: me;
    width: 37.9vw;
    height: 85.2vh;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me {
    grid-area: me;
    width: 23.9vw;
    height: 83.2vh;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me {
    grid-area: me;
    width: 23.9vw;
    height: 87.4vh;
    padding-top: 2rem;
  }
}
#contenedor #home .me #me {
  display: grid;
  justify-content: center;
  height: 39vh;
  background: rgb(248, 255, 153);
  border-radius: 50%;
  border: 2px dotted rgb(0, 0, 0);
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me #me {
    height: 39vh;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .me #me {
    height: 39vh;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me #me {
    height: 23vh;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me #me {
    height: 34.6vh;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me #me {
    height: 42%;
  }
}
#contenedor #home .me .text h1 {
  font-family: "square peg", cursive;
  padding-top: 26px;
  font-size: 2.4rem;
  text-shadow: 3px 7px 8px rgba(106, 85, 39, 0.8431372549);
  letter-spacing: 6px;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me .text h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me .text h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me .text h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me .text h1 {
    font-size: 3rem;
  }
}
#contenedor #home .me .text p {
  font-family: "Laila", sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me .text p {
    font-size: 1.5rem;
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me .text p {
    font-size: 2rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me .text p {
    font-size: 1rem;
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me .text p {
    font-size: 1.2rem;
    padding-top: 2.4rem;
  }
}
#contenedor #home .contenedorCarrusel {
  grid-area: main;
  border: 2px dotted white;
}
@media screen and (min-width: 150px) {
  #contenedor #home .contenedorCarrusel {
    border: 2px dotted white;
    background-color: #2b2b2b;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .contenedorCarrusel {
    border: 2px dotted white;
    background-color: #2b2b2b;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .contenedorCarrusel {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-items: end;
    align-content: end;
    justify-content: end;
    background-color: transparent;
    border: hidden;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .contenedorCarrusel {
    background-color: rgb(255, 255, 255);
    background-color: transparent;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .contenedorCarrusel {
    background-color: rgb(255, 255, 255);
    grid-area: main;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;
  }
}

footer {
  background-color: #ffffff;
  border-top: 2px dotted white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
}
@media screen and (min-width: 150px) {
  footer {
    border-top: 2px dotted white;
    height: 6vh;
  }
}
@media screen and (min-width: 540px) {
  footer {
    border-top: 2px dotted white;
    height: 7vh;
  }
}
@media screen and (min-width: 768px) {
  footer {
    border-top: 2px dotted rgb(2, 2, 2);
    height: 10vh;
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    border-top: 2px dotted rgb(0, 0, 0);
    height: 12vh;
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
  }
}
@media screen and (min-width: 1126px) {
  footer {
    border-top: 2px dotted rgb(0, 0, 0);
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
    height: 12vh;
  }
}
footer a:hover {
  font-size: 2.2rem;
}

:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
.carrusel {
  grid-area: main;
  max-width: 120em;
  height: 80vh;
  padding: 0rem;
  border-radius: 1rem;
  background-color: #2b2b2b;
  width: 60%;
  max-width: 120em;
  height: 63vh;
  border: 1px solid black;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0.8em 0.8em 0.2em rgba(161, 161, 161, 0.945);
}
@media screen and (min-width: 1126px) {
  .carrusel {
    height: 68vh;
    padding: 0rem 0.6rem;
  }
}
.carrusel p {
  color: white;
  font-size: 1.3rem;
  text-shadow: 0.1rem 0rem 0.3rem white;
  text-align: center;
  padding-top: 5px;
}
.carrusel .grande {
  z-index: -100;
  border-radius: 1rem;
  background-color: rgb(248, 255, 153);
  width: 200%;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
@media screen and (min-width: 1126px) {
  .carrusel .grande {
    height: 50vh;
    padding: 0rem 2rem;
  }
}
.carrusel .grande #polar {
  font-size: 1rem;
  color: #2b2b2b;
  margin: 0;
  display: flex;
  justify-self: end;
  align-self: end;
  width: 36vw;
  position: absolute;
}
.carrusel .grande #sabrina {
  font-size: 1rem;
  height: 2rem;
  color: #2b2b2b;
  margin-left: 526px;
  display: flex;
  justify-self: end;
  align-self: end;
  padding-top: 1rem;
  width: 40vw;
  position: absolute;
  line-height: 1rem;
}
.carrusel .grande img {
  width: calc(50% - 2em);
  min-height: 40vh;
  border-radius: 1rem;
  object-fit: cover;
}
@media screen and (min-width: 1126px) {
  .carrusel .grande img {
    min-height: 43vh;
    margin-bottom: 1.5rem;
  }
}
.carrusel .puntos {
  width: 100%;
  border-radius: 1rem;
  margin: 1em 0em 0 3em;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 255, 153);
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos {
    padding: 0;
    margin: 0.5em 0em;
  }
}
.carrusel .puntos .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  list-style-type: none;
  background-color: rgb(184, 184, 184);
  box-shadow: 0.3rem 0.2rem 0.3rem rgb(82, 82, 82);
  border-radius: 1rem;
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos .punto {
    margin: 0.8rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
.carrusel .puntos .punto.activo {
  color: rgb(252, 135, 145);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

body {
  margin: 0.1rem 0.4rem;
  border: 3px solid rgb(85, 85, 85);
  border-top: hidden;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 5px;
  padding: 0px;
  width: 97vw;
  height: 55px;
  background: rgb(248, 255, 153);
  border-radius: 17px 17px 0px 0px;
  border: 2px solid rgb(63, 63, 63);
  box-shadow: -0.2rem -2rem 0rem rgb(255, 255, 255);
  position: fixed;
  z-index: 110;
}
@media screen and (min-width: 150px) {
  header {
    width: 93vw;
  }
}
@media screen and (min-width: 540px) {
  header {
    width: 97vw;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 97vw;
  }
}
@media screen and (min-width: 1126px) {
  header {
    width: 97vw;
  }
}

nav {
  position: fixed;
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px dotted rgb(34, 34, 34);
  z-index: 100;
}
@media screen and (min-width: 150px) {
  nav {
    height: 75px;
    padding-top: 2rem;
    width: 92.5%;
  }
}
@media screen and (min-width: 540px) {
  nav {
    padding-top: 0.4rem;
    width: 94.7vw;
  }
}
@media screen and (min-width: 768px) {
  nav {
    width: 96.5vw;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    width: 96.9vw;
  }
}
@media screen and (min-width: 1126px) {
  nav {
    padding-top: 0.5rem;
    width: 96.6vw;
  }
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  list-style: none;
  color: #020202;
  font-weight: bold;
}
@media screen and (min-width: 150px) {
  nav ul {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1126px) {
  nav ul {
    font-size: 1rem;
  }
}
@media screen and (min-width: 150px) {
  nav ul li img {
    width: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul li img {
    width: 30px;
  }
}
@media screen and (min-width: 1126px) {
  nav ul li img {
    width: 33px;
  }
}
nav ul li a:hover {
  font-size: 1.1rem;
  text-shadow: 3px 3px 3px #fbff00;
  color: #020202;
}
@media screen and (min-width: 150px) {
  nav ul li a:hover {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1024px) {
  nav ul li a:hover {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1126px) {
  nav ul li a:hover {
    font-size: 1.1rem;
  }
}
nav ul li a:link, nav ul li a:active, nav ul li a:visited {
  color: #020202;
  text-decoration: none;
  margin: 5px;
}

#contenedor {
  border-radius: 10px;
  border: 2px double rgb(0, 0, 0);
  margin: 10px;
  overflow: hidden;
}
@media screen and (min-width: 150px) {
  #contenedor {
    background-color: #2b2b2b;
    border-bottom: 2px dotted white;
  }
}
@media screen and (min-width: 540px) {
  #contenedor {
    background-color: #2b2b2b;
    border-bottom: 2px dotted white;
  }
}
@media screen and (min-width: 768px) {
  #contenedor {
    background-color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor {
    background-color: #fff;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor {
    background-color: #fff;
  }
}
#contenedor #home {
  padding-top: 6rem;
  margin: 0;
}
@media screen and (min-width: 150px) {
  #contenedor #home {
    display: grid;
    grid-template: repeat(2, 58%)/repeat(1, 100%);
    grid-template-areas: "me" "main";
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home {
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home {
    margin: 0;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home {
    margin: 0;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
  }
}
#contenedor #home .me {
  grid-area: me;
  height: 87.4vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #2b2b2b;
  margin: 0;
  padding-top: 4rem;
  border: 2px dotted white;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me {
    grid-area: me;
    width: 92.4vw;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .me {
    grid-area: me;
    width: 94.5vw;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me {
    grid-area: me;
    width: 37.9vw;
    height: 85.2vh;
    padding-top: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me {
    grid-area: me;
    width: 23.9vw;
    height: 83.2vh;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me {
    grid-area: me;
    width: 23.9vw;
    height: 87.4vh;
    padding-top: 2rem;
  }
}
#contenedor #home .me #me {
  display: grid;
  justify-content: center;
  height: 39vh;
  background: rgb(248, 255, 153);
  border-radius: 50%;
  border: 2px dotted rgb(0, 0, 0);
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me #me {
    height: 39vh;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .me #me {
    height: 39vh;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me #me {
    height: 23vh;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me #me {
    height: 34.6vh;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me #me {
    height: 42%;
  }
}
#contenedor #home .me .text h1 {
  font-family: "square peg", cursive;
  padding-top: 26px;
  font-size: 2.4rem;
  text-shadow: 3px 7px 8px rgba(106, 85, 39, 0.8431372549);
  letter-spacing: 6px;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me .text h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me .text h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me .text h1 {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me .text h1 {
    font-size: 3rem;
  }
}
#contenedor #home .me .text p {
  font-family: "Laila", sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
}
@media screen and (min-width: 150px) {
  #contenedor #home .me .text p {
    font-size: 1.5rem;
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .me .text p {
    font-size: 2rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .me .text p {
    font-size: 1rem;
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .me .text p {
    font-size: 1.2rem;
    padding-top: 2.4rem;
  }
}
#contenedor #home .contenedorCarrusel {
  grid-area: main;
  border: 2px dotted white;
}
@media screen and (min-width: 150px) {
  #contenedor #home .contenedorCarrusel {
    border: 2px dotted white;
    background-color: #2b2b2b;
  }
}
@media screen and (min-width: 540px) {
  #contenedor #home .contenedorCarrusel {
    border: 2px dotted white;
    background-color: #2b2b2b;
  }
}
@media screen and (min-width: 768px) {
  #contenedor #home .contenedorCarrusel {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-items: end;
    align-content: end;
    justify-content: end;
    background-color: transparent;
    border: hidden;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #contenedor #home .contenedorCarrusel {
    background-color: rgb(255, 255, 255);
    background-color: transparent;
  }
}
@media screen and (min-width: 1126px) {
  #contenedor #home .contenedorCarrusel {
    background-color: rgb(255, 255, 255);
    grid-area: main;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-color: transparent;
  }
}

footer {
  background-color: #ffffff;
  border-top: 2px dotted white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
}
@media screen and (min-width: 150px) {
  footer {
    border-top: 2px dotted white;
    height: 6vh;
  }
}
@media screen and (min-width: 540px) {
  footer {
    border-top: 2px dotted white;
    height: 7vh;
  }
}
@media screen and (min-width: 768px) {
  footer {
    border-top: 2px dotted rgb(2, 2, 2);
    height: 10vh;
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    border-top: 2px dotted rgb(0, 0, 0);
    height: 12vh;
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
  }
}
@media screen and (min-width: 1126px) {
  footer {
    border-top: 2px dotted rgb(0, 0, 0);
    border-bottom: 2px solid #020202;
    border-radius: 0 0 6px 6px;
    height: 12vh;
  }
}
footer a:hover {
  font-size: 2.2rem;
}

:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
#skills {
  padding-top: 0rem;
  margin: 0rem 0rem;
  width: 95vw;
  display: grid;
  grid-template: repeat(4, 25%)/repeat(4, 25%);
  grid-template-areas: "me skills skills skills" "me skills skills skills" "me skills skills skills" "me skills skills skills";
}
@media screen and (min-width: 150px) {
  #skills {
    padding-top: 12rem;
    display: grid;
    grid-template: repeat(2, 20%)/repeat(1, 100%);
    grid-template-areas: "me me me me" "skills skills skills skills";
  }
}
@media screen and (min-width: 768px) {
  #skills {
    padding-top: 0rem;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me skills skills skills" "me skills skills skills" "me skills skills skills" "me skills skills skills";
  }
}
@media screen and (min-width: 1024px) {
  #skills {
    padding-top: 0rem;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me skills skills skills" "me skills skills skills" "me skills skills skills" "me skills skills skills";
  }
}
@media screen and (min-width: 1126px) {
  #skills {
    padding-top: 0rem;
    display: grid;
    grid-template: repeat(4, 25%)/repeat(4, 25%);
    grid-template-areas: "me skills skills skills" "me skills skills skills" "me skills skills skills" "me skills skills skills";
  }
}
#skills .me {
  grid-area: me;
  height: 97vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 0rem;
  background-color: #2b2b2b;
  margin: 0;
  border: 2px dotted white;
}
@media screen and (min-width: 150px) {
  #skills .me {
    grid-area: me;
    height: 15rem;
    width: 92.7vw;
    border: 2px dotted white;
    border-top: hidden;
    border-bottom: hidden;
    margin-right: 0;
  }
}
@media screen and (min-width: 540px) {
  #skills .me {
    grid-area: me;
    border: 2px dotted white;
    border-top: hidden;
    border-bottom: hidden;
    margin-right: 0;
    width: 94.5vw;
  }
}
@media screen and (min-width: 768px) {
  #skills .me {
    grid-area: me;
    height: 97vh;
    width: 37.9vw;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  #skills .me {
    grid-area: me;
    height: 97vh;
    width: 23.9vw;
  }
}
@media screen and (min-width: 1126px) {
  #skills .me {
    grid-area: me;
    height: 97vh;
    width: 23.9vw;
  }
}
#skills .me p {
  margin: 0.5rem 1.4rem;
  line-height: 3rem;
  text-align: justify;
}
@media screen and (min-width: 150px) {
  #skills .me p {
    margin: 0.5rem 1.4rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  #skills .me p {
    margin: 3rem 1.4rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1126px) {
  #skills .me p {
    font-size: 1.3rem;
  }
}
#skills .icons {
  grid-area: skills;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;
  padding-top: 5rem;
}
@media screen and (min-width: 150px) {
  #skills .icons {
    grid-area: skills;
    width: 92.7vw;
    height: 68vh;
    padding-top: 0rem;
    background-color: #2b2b2b;
    border: 2px dotted white;
    margin-left: 0;
    border-top: hidden;
    border-bottom: hidden;
  }
}
@media screen and (min-width: 540px) {
  #skills .icons {
    grid-area: skills;
    background-color: #2b2b2b;
    border: 2px dotted white;
    border-top: hidden;
    border-bottom: hidden;
    width: 94.5vw;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  #skills .icons {
    grid-area: skills;
    background-color: rgb(255, 255, 255);
    border: hidden;
    margin-left: 0;
    height: 97vh;
    width: 55vw;
    padding-top: 7rem;
    margin-left: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  #skills .icons {
    grid-area: skills;
    background-color: rgb(255, 255, 255);
    height: 97vh;
    width: 70vw;
    padding-top: 5rem;
    border: 0;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1126px) {
  #skills .icons {
    grid-area: skills;
    background-color: rgb(255, 255, 255);
    height: 97vh;
    width: 70vw;
    padding-top: 5rem;
    border: 0;
    margin-left: 2rem;
  }
}
#skills figure {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  text-align: center;
}
@media screen and (min-width: 150px) {
  #skills figure {
    padding: 0.5rem 0.6rem;
    color: #fff;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 540px) {
  #skills figure {
    padding: 1.5rem 1rem;
    color: #fff;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  #skills figure {
    padding: 2rem 1rem;
    color: #000;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  #skills figure {
    padding: 0.5rem 0.8rem;
    color: #000;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1126px) {
  #skills figure {
    padding: 1rem 4rem;
    color: #000;
    font-size: 1.3rem;
  }
}
#skills figure:hover {
  font-size: 1.1rem;
}
@media screen and (min-width: 150px) {
  #skills figure:hover {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 540px) {
  #skills figure:hover {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  #skills figure:hover {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1024px) {
  #skills figure:hover {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1126px) {
  #skills figure:hover {
    font-size: 1.4rem;
  }
}

:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */
.carrusel {
  grid-area: main;
  max-width: 120em;
  height: 80vh;
  padding: 0rem;
  border-radius: 1rem;
  background-color: #2b2b2b;
  width: 60%;
  max-width: 120em;
  height: 63vh;
  border: 1px solid black;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0.8em 0.8em 0.2em rgba(161, 161, 161, 0.945);
}
@media screen and (min-width: 1126px) {
  .carrusel {
    height: 68vh;
    padding: 0rem 0.6rem;
  }
}
.carrusel p {
  color: white;
  font-size: 1.3rem;
  text-shadow: 0.1rem 0rem 0.3rem white;
  text-align: center;
  padding-top: 5px;
}
.carrusel .grande {
  z-index: -100;
  border-radius: 1rem;
  background-color: rgb(248, 255, 153);
  width: 200%;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
@media screen and (min-width: 1126px) {
  .carrusel .grande {
    height: 50vh;
    padding: 0rem 2rem;
  }
}
.carrusel .grande #polar {
  font-size: 1rem;
  color: #2b2b2b;
  margin: 0;
  display: flex;
  justify-self: end;
  align-self: end;
  width: 36vw;
  position: absolute;
}
.carrusel .grande #sabrina {
  font-size: 1rem;
  height: 2rem;
  color: #2b2b2b;
  margin-left: 526px;
  display: flex;
  justify-self: end;
  align-self: end;
  padding-top: 1rem;
  width: 40vw;
  position: absolute;
  line-height: 1rem;
}
.carrusel .grande img {
  width: calc(50% - 2em);
  min-height: 40vh;
  border-radius: 1rem;
  object-fit: cover;
}
@media screen and (min-width: 1126px) {
  .carrusel .grande img {
    min-height: 43vh;
    margin-bottom: 1.5rem;
  }
}
.carrusel .puntos {
  width: 100%;
  border-radius: 1rem;
  margin: 1em 0em 0 3em;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 255, 153);
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos {
    padding: 0;
    margin: 0.5em 0em;
  }
}
.carrusel .puntos .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  list-style-type: none;
  background-color: rgb(184, 184, 184);
  box-shadow: 0.3rem 0.2rem 0.3rem rgb(82, 82, 82);
  border-radius: 1rem;
}
@media screen and (min-width: 1126px) {
  .carrusel .puntos .punto {
    margin: 0.8rem;
    height: 1.8rem;
    width: 1.8rem;
  }
}
.carrusel .puntos .punto.activo {
  color: rgb(252, 135, 145);
}
:root {
  --negro: #393939;
  --blanco: #fffd70;
  --sombra-ppal: #f8e694;
  --sombra-sec: #faf099;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
}

/* Las adaptamos al modo oscuro */

/*# sourceMappingURL=index.css.map */
