@charset "UTF-8";
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
* {
  margin: 0.1rem 0.4rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

body {
  margin: 0;
  border: 3px solid rgb(85, 85, 85);
  border-top: hidden;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 97.5vw;
  height: 7vh;
  background: rgb(248, 255, 153);
  border-radius: 17px 17px 0px 0px;
  border: 2px solid rgb(63, 63, 63);
  box-shadow: -0.2rem -2rem 0rem rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
}
nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 8vh;
  width: 95.7vw;
  margin: 2.7rem 0.7rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px dotted rgb(34, 34, 34);
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 73vw;
  margin-top: 5px;
  list-style: none;
  color: #020202;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 13px;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  font-size: 1.1rem;
  text-shadow: 3px 3px 3px #fbff00;
  color: #020202;
}
nav ul li a:link, nav ul li a:active, nav ul li a:visited {
  color: #020202;
  text-decoration: none;
  margin: 5px;
}

#contenedor {
  border-radius: 10px;
  border: 2px double black;
  margin: 10px;
}
#contenedor #home {
  padding-top: 5rem;
  display: grid;
  margin: 0;
  grid-template: repeat(4, 25%)/repeat(4, 25%);
  grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
}
#contenedor #home .me {
  grid-area: me;
  height: 87.4vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #2b2b2b;
  margin: 0;
  padding-top: 4rem;
  border: 2px dotted white;
}
#contenedor #home .me #me {
  display: grid;
  justify-content: center;
  height: 39vh;
  background: rgb(248, 255, 153);
  border-radius: 50%;
  border: 2px dotted rgb(0, 0, 0);
  margin: auto;
  text-align: center;
}
#contenedor #home .me .text h1 {
  font-family: "square peg", cursive;
  padding-top: 26px;
  font-size: 2.4rem;
  text-shadow: 3px 7px 8px rgba(106, 85, 39, 0.8431372549);
  letter-spacing: 6px;
}
#contenedor #home .me .text p {
  font-family: "Laila", sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
}
#contenedor #home main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  height: 22vh;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
}
footer a:hover {
  font-size: 2.2rem;
}

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
* {
  margin: 0.1rem 0.4rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

body {
  margin: 0;
  border: 3px solid rgb(85, 85, 85);
  border-top: hidden;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 97.5vw;
  height: 7vh;
  background: rgb(248, 255, 153);
  border-radius: 17px 17px 0px 0px;
  border: 2px solid rgb(63, 63, 63);
  box-shadow: -0.2rem -2rem 0rem rgb(255, 255, 255);
  position: fixed;
  z-index: 100;
}
nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 8vh;
  width: 95.7vw;
  margin: 2.7rem 0.7rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px dotted rgb(34, 34, 34);
  z-index: 100;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 73vw;
  margin-top: 5px;
  list-style: none;
  color: #020202;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 13px;
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a:hover {
  font-size: 1.1rem;
  text-shadow: 3px 3px 3px #fbff00;
  color: #020202;
}
nav ul li a:link, nav ul li a:active, nav ul li a:visited {
  color: #020202;
  text-decoration: none;
  margin: 5px;
}

#contenedor {
  border-radius: 10px;
  border: 2px double black;
  margin: 10px;
}
#contenedor #home {
  padding-top: 5rem;
  display: grid;
  margin: 0;
  grid-template: repeat(4, 25%)/repeat(4, 25%);
  grid-template-areas: "me . . . " "me main main main" "me main main main" "me . . . ";
}
#contenedor #home .me {
  grid-area: me;
  height: 87.4vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #2b2b2b;
  margin: 0;
  padding-top: 4rem;
  border: 2px dotted white;
}
#contenedor #home .me #me {
  display: grid;
  justify-content: center;
  height: 39vh;
  background: rgb(248, 255, 153);
  border-radius: 50%;
  border: 2px dotted rgb(0, 0, 0);
  margin: auto;
  text-align: center;
}
#contenedor #home .me .text h1 {
  font-family: "square peg", cursive;
  padding-top: 26px;
  font-size: 2.4rem;
  text-shadow: 3px 7px 8px rgba(106, 85, 39, 0.8431372549);
  letter-spacing: 6px;
}
#contenedor #home .me .text p {
  font-family: "Laila", sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
}
#contenedor #home main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

footer {
  grid-area: footer;
  height: 22vh;
  border-top: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
}
footer a:hover {
  font-size: 2.2rem;
}

#skills {
  padding-top: 0rem;
  margin: 0rem 0rem;
  width: 95vw;
  display: grid;
  grid-template: repeat(4, 25%)/repeat(4, 25%);
  grid-template-areas: "me skills skills skills" "me skills skills skills" "me skills skills skills" "me skills skills skills";
}
#skills .me {
  grid-area: me;
  height: 97vh;
  width: 23.9vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 0rem;
  background-color: #2b2b2b;
  margin: 0;
  padding-top: 0rem;
  border: 2px dotted white;
}
#skills .icons {
  grid-area: skills;
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  padding-top: 5rem;
}
#skills figure {
  display: inline-block;
  padding: 1rem 4.3rem;
  text-align: center;
}
#skills figure:hover {
  font-size: 1.1rem;
}

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
.carrusel {
  border-radius: 1rem;
  background-color: #2b2b2b;
  width: 70%;
  max-width: 120em;
  padding: 3em 2em 0.5;
  height: 63vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
  z-index: 1;
}
.carrusel .grande {
  z-index: -100;
  border-radius: 1rem;
  background-color: #2b2b2b;
  width: 200%;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 1em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.carrusel .grande img {
  width: calc(50% - 2em);
  min-height: 40vh;
  border-radius: 1rem;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}
.carrusel .puntos {
  width: 100%;
  border-radius: 1rem;
  margin: 1em 0em 0 3em;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 255, 153);
}
.carrusel .puntos .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  list-style-type: none;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}
.carrusel .puntos .punto.activo {
  color: rgb(244, 245, 234);
}

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */

/*# sourceMappingURL=index.css.map */
